
<div><dl>
              <dt>Title</dt>
              <dd><%= @movie.title%></dd>

              <dt>Year</dt>
              <dd><%= @movie.year %></dd>

              <dt>Director</dt>
              <dd><%= @director_movie.name %></dd>

              <dt>Description</dt>
              <dd><%= @movie.description %></dd>


</dl></div>

